body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: burlywood;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.maintxt {
  margin-left: 10px;
  color: white;
}

.twl {
  text-decoration: none;
}

.tiamw {
  font-family: 'Courier New', Courier, monospace;
  display: block;
  margin-bottom: 1px;
  font-weight: bolder;
}

footer {
  color: darkgray;
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #333;
  width: 100%;
  margin: 20px 0;
  margin-top: 0px;
}

.alpcmdmtxt{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}
