@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Bitcount+Single&family=Bitcount:wght@100..900&display=swap');

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: burlywood;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.maintxt {
  margin-left: 10px;
  color: white;
  font-family: 'Bitcount Prop Single';
}

.twl {
  text-decoration: none;
}

.tiamw {
  font-family: 'Bitcount Prop Single';
  display: block;
  margin-bottom: -0.4cm;
  font-weight: bolder;
  font-size: 18px;
  font-style: italic;
}

footer {
  color: darkgray;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Bitcount Prop Single';
}

hr {
  border: none;
  border-top: 1px solid #333;
  width: 100%;
  margin: 20px 0;
  margin-top: 0px;
}

.alpcmdmtxt{
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
}

.iaaw{
  color: white;
  font-family: 'Bitcount Prop Single';
}

.back-btn {
  position: absolute;
  top: 5px;
  left: 20px;
  color: gray;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  transition: all 0.3s ease;
}

.back-btn:hover {
  color: white;
}